#backend
services:
  backend: 
    build: ./backend
    container_name: mern-backend
    ports:
      - '5000:5000' #map port ในเครื่องกับ container
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env.docker
    depends_on:
      - db
    networks:
      - mynetwork

#frontend
  frontend:
    build: ./frontend
    container_name: mern-frontend
    ports:
    - '5173:5173'
    volumes:
    - ./frontend:/app
    - /app/node_modules
    depends_on:
    - backend
    networks:
      - mynetwork

#database
  db:
    image: mysql:latest
    container_name: db
    ports:
    - '3306:3306'
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=project_db
    volumes:
    - db_data:/var/lib/mysql
    - ./project_db.sql:/docker-entrypoint-initdb.d/project_db.sql
    networks:
      - mynetwork

networks:
  mynetwork:

# กำหนด volumes ที่ใช้
volumes:
  db_data: